@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #27272a; /* Darker background for the track in dark mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Grey thumb */
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #52525b; /* Darker thumb in dark mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey on hover */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #71717a; /* Even darker thumb on hover in dark mode */
}

/* Firefox scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}

.dark .custom-scrollbar {
  scrollbar-color: #52525b #27272a; /* thumb and track color in dark mode */
}